body{
	font-family: 'Ubuntu', sans-serif;
}
#template{
		margin-top: 100px;
}
#personal_details
{
	text-align: left;
	margin-top: 20px;
	background-color: #1b9fdf;
}
.sections{
	background-color: #87cff2;
	font-weight: bold;
	padding: 10px;
}
#contact
{
	list-style: none;
	margin-top: 40px;
	margin-bottom: 30px;
}
#name
{
	font-size: 60px;
}

.work_experience,.qualifications,.education,#skills,#objective
{
	
	margin-bottom: 50px;
}
.company_name,.course_name
{
	font-size: 25px;
}
.date,.passing_year
{
	float: right;
	margin-bottom: 30px;
}