body
{
	font-family: 'Ubuntu', sans-serif;
	margin: 0px;
}
#personal_details
{
	float: left;
	width: 20%;
	background-color: #FF6969;
	text-align: center;
	height: 100%;
	padding-bottom: 100px;
}
#sideright
{
	float: right;
	margin-top: 50px;
	margin-right: 50px;
}
#name
{
	font-size: 50px;
	margin-top: 200px;
	color: #fff;
}
#email,#phone,#website
{
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#address
{
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 60px;
}
.glyphicon
{
	margin-right: 10px;
}
#date,#passing_year
{
	float: right;
}
#company_name,#course_name
{
	font-size: 30px;
}
#job_title,#institution_name
{
	font-size: 25px;
	margin-bottom: 30px;
}
