body
{
	font-family: arial;
}
#template{
	margin-top: 150px;
}
#personal_details
{
	text-align: center;
}
#contact
{
	margin-left:200px;
	margin-right: 200px;
	list-style: none;
	margin-top: 40px;
	margin-bottom: 30px;
}
#name
{
	font-size: 60px;
}
#email,#phone
{
	
	float: left;
}
#website,#address
{
	float: right;
}
h3
{
	border-bottom: 2px solid grey;
}
#work_experience,#qualifications,#education,#skills,#objective
{
	/*float: left;*/
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 50px;
}
#company_name,#course_name
{
	font-size: 25px;
}
#date,#passing_year
{
	float: right;
	margin-bottom: 30px;
}

