body
{
	margin: 0px;
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
}
nav{
	background-color: #0288D1;
	color: #fff;
	border-radius: 0px;
}
.navbar-brand:hover{
	color: #fff;
}
.gap-off{
	padding: 0px;
}	
.top-fix{
	padding-top:20px; 
}
.inline{
	display: inline-block;
}
#download
{
	font-size: 25px;
	padding-bottom: 60px;
	padding-top: 60px;
	text-align: center;
	color: #696969;
	letter-spacing: 2.5px;
}
#register button{
	padding: 0px; 
	border: none; 
	background-color: #26bcff;
}
#login button{
	padding: 0px; 
	border: none; 
	background-color: #a0a0a0;
}
.register-icon{
	font-size: 18px; 
	background-color: #03a9f4; 
	vertical-align: middle; 
	padding: 10px; 
	color: #5a5a5a;
}
.register-text{
	font-size: 14px; 
	background-color: #26bcff; 
	padding: 8px; 
	vertical-align: middle; 
	color: #fff;
}
.login-icon{
	font-size: 18px; 
	background-color: #8e8e8e; 
	vertical-align: middle; 
	padding: 10px; 
	color: #5a5a5a;
}
.login-text{
	font-size: 14px; 
	background-color: #a0a0a0; 
	padding: 8px; 
	vertical-align: middle; 
	color: #fff;
}
/*Top Navigation Bar*/
#content-land
{
	color: #fff;
	padding-left: 60px;
}
.landing{
	padding-top: 10%;
	padding-bottom: 20%;
}
.head-name{
	font-size: 56px;
}
#subhead-name{
	font-size: 14px;
	margin-top: 0px;
	margin-left: 20%;
	color: #000;
}
.land_temp
{
	display: inline;
	width: 400px;
	height: 250px;
	margin-top: 50px;
	transition-timing-function: ease;
}
.land_temp:hover
{
	-webkit-transform: translateY(10px);
	transition-timing-function: linear;
}
@media only screen and (max-width: 1200px) {
    .center{
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
    }
    .sample_img{
		width:100px ;
		height: 200px;
	}
	.feature{
		margin-top: 20px;
	}
	
}
label {
	font-weight: normal;
}
#loginform, #register{
}
.modal-header {
	background-color: #0288D1;
	color: #fff; 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
		background-color: #03A9F4;
	}
.nav-tabs>li>a {
	color: #03A9F4;
}
#create_button
{
	margin-top: 25px;
	height: 40px;
	width: 200px;
	font-size: 18px;
	background-color: #03A9F4;
	border-radius: 0px;

}
.navbar {
    border-radius: 0px; 
}
#why_rb
{
	padding: 30px;
	background-color: #03A9F4;
	color: #fff; 
	text-align: center;
	padding-bottom: 30px;
}
.number{
	border: 2px solid grey;
	border-radius: 200px;
	padding: 10px 15px;
}
.land-img{
	max-height: 100%;
}

.how {
	margin-top: 5%;
}
#how_itworks
{
	padding-top: 40px;
	padding-bottom: 40px;
}
.step
{
	margin-top: 50px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
#features
{
	background-color: #03A9F4;
	color: #fff;
	padding-bottom: 50px;
	padding-top: 30px;
	margin-top: 50px;
	
}
.template
{
	display: inline-block;
	margin-left: 150px;
	margin-top: 30px;
}
.nav-tab > li.active . a,
.nav-tab > li.active . a:hover,
.nav-tab > li.active . a:focus {

}
a {
	color: #f5f5f5;
	text-decoration: none;
}
#contact
{
	font-size: 15px;
	background-color: #151515;
	color: #888888;
	width: 100%;
	padding: 20px;
}
.social_icons
{
	font-size: 2.5em;
	padding-left:10px;
	padding-right:10px;
	color: #fff; 
}
.social_icons_footer
{
	font-size: 2.5em;
	padding-left:10px;
	padding-right:10px;
	color: #888888; 
}

.features{
	border-radius: 150px;
	width: 150px;
	height: 150px;
}
.footor{
	width: 100%; 
	font-size: 17px; 
	text-align:center; 
	background-color: #151515; 
	color: #888888; 
	margin:0 auto; 
	height:auto; 
	overflow:hidden; 
	position: absolute; 
	bottom: 0px;
}
.navbar{
	margin-bottom: 0px;
}
