body{
    font-family: 'Ubuntu', sans-serif;
}
#personal_details{
    background-color: #0EBFE9;
    padding: 5px;
}
#name{
    font-size: 30px;
    text-align: left;
    font-weight: bolder;
    color: #fff;
}
#contact{
    text-align: right;
    color: #fff;
}
.sections{
    font-size: 20px;
    color: #878787;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sub_sections{
    margin-left: 20px;
}